@import compass/reset
@import compass/css3
@import compass/typography/text/ellipsis
@import compass/layout/grid-background
@import h5bp
@include h5bp-display
@include h5bp-base
@include h5bp-links
@include h5bp-typography
@include h5bp-lists
@include h5bp-helpers
@include h5bp-media

$back: #EEE
$front: #333

$font_path: "/fonts/simplon" !default
+font-face("Simplon_BP_Regular", font-files("/fonts/simplon/woff/Simplon_BP_Regular_1.woff", woff, "/fonts/simplon/ttf/Simplon_BP_Regular_1.ttf", truetype, "/fonts/simplon/otf/Simplon_BP_Regular_1.otf", opentype), "#{$font_path}.eot", normal, bold)
+font-face("Simplon_BP_Medium", font-files("/fonts/simplon/woff/Simplon_BP_Medium_1.woff", woff, "/fonts/simplon/ttf/Simplon_BP_Medium_1.ttf", truetype, "/fonts/simplon/otf/Simplon_BP_Medium_1.otf", opentype), "#{$font_path}.eot", normal, bold)
+font-face("Simplon_BP_Regular_Italic", font-files("/fonts/simplon/woff/Simplon_BP_Regular_Italic_1.woff", woff, "/fonts/simplon/ttf/Simplon_BP_Regular_Italic_1.ttf", truetype, "/fonts/simplon/otf/Simplon_BP_Regular_Italic_1.otf", opentype), "#{$font_path}.eot", normal, bold)
+font-face("Simplon_BP_Mono_Regular", font-files("/fonts/simplon/woff/Simplon_BP_Mono_Regular_1.woff", woff, "/fonts/simplon/ttf/Simplon_BP_Mono_Regular_1.ttf", truetype, "/fonts/simplon/otf/Simplon_BP_Mono_Regular_1.otf", opentype), "#{$font_path}.eot", normal, bold)


i
  font-family: "Simplon_BP_Regular_Italic"
.small
  padding-bottom: 1em!important
.medium
  padding-bottom: 4em!important
.big
  padding-bottom: 12em!important

body
  font-size: 100%
  background: $back
  color: $front
  width: 630px
  max-width: 100%
  margin: 1.5em auto
  font-family: "Simplon_BP_Regular"
  +baseline-grid-background(1.5em, #DDD)
p
  +word-break(break-word)
  +hyphens(auto)

strong
  font-family: "Simplon_BP_Medium"
em
  font-family: "Simplon_BP_Regular_Italic"
a
  color: $front!important
  text-decoration: none
h1, h2
  font-family: "Simplon_BP_Medium"

body, h1, h2, h3, h4, h5,  p, strong
  padding-top: 1.5em
  padding-bottom: 1.5em
  line-height: 1.5
  font-size: 1em

body
  padding: 0 0!important


nav
  padding: 2em 0px
  li
    list-style: none
    float: left
  a
    text-decoration: none
    color: $front
    padding: 0 0 0 1.5em
    &:hover
      text-decoration: underline
  .selected
    text-decoration: underline

.meta
  float: right
  text-transform: uppercase
  font-size: 0.75em
  font-family: "Simplon_BP_Mono_Regular"


section
  padding-bottom: 3em
  h2
    width: 100%
    text-align: center
    font-family: "Simplon_BP_Mono_Regular"

header
  padding: 0.5em 1em

hgroup
  display: inline-block
  h1, h2
    float: left
    margin: 0px
    padding-left: 0em
    padding-right: 1em
  h1
    font-family: "Simplon_BP_Medium"
  h2
    font-family: "Simplon_BP_Regular"


article
  padding: 1.5em 1em
  h2
    font-family: "Simplon_BP_Medium"
  ul
    padding: 0
    margin: 0
  li
    list-style: none
    +ellipsis()
  em
    font-family: "Simplon_BP_Mono_Regular"
    margin-right: 1em

img
  width: 100%
  padding: 0
  margin: 0
  display: block

.fig
  text-transform: uppercase
  font-size: 0.75em
  padding: 0.75em 0
  font-family: "Simplon_BP_Mono_Regular"

footer
  padding: 3.5em 1em
