<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Ruth Erdt{% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{% if page.title %}../{% endif %}css/main.css">
{% if page.background %}<style>body{background:{{ page.background }};}a, body{color:{{ page.color }}!important;}</style>{% endif %}
</head>
<body>
  <header>{% include nav.html %}</header>
  <article>{{ content }}</article>
  {% if page.title != 'Contact' %}{% if page.title != 'Now' %}<footer>{% include nav.html %}</footer>{% endif %}{% endif %}
  <!-- <script> document.write('<script src={% if page.title %}../{% endif %}js/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.min.js><\/script>') </script> -->
  <script src="{% if page.title %}../{% endif %}js/retina.js"></script>
</body>
</html>
